.post-container {
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 5rem 0rem 5rem;
  /* align-items: center; */
}

.posts {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--outline);
 
  
}

.post-title {
  margin-bottom: 15px;
  text-decoration: underline;
}

.post-body {
    margin-bottom: 15px;
}



.post-search {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  /* border: 1px solid var(--outline); */
  border-radius: 0.25rem;

}


.post-select, .post-input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--outline);
  border-radius: 0.25rem;
  margin-left: auto;
  border-radius: 25px;
}

.post-h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  font-size: 50px;
  text-decoration: underline;
  padding: 20px;
  
}

.filter-bar {
  display: flex;
  flex-direction: row;
}

.posts-info {
  color: var(--info);
  font-family: "Roboto", sans-serif;
  
}

.post-header {
  font-size: larger;

}

.post {
  align-items: center;
}